@import 'base.scss';

#app {
    display: flex;
    flex-direction: column;
    height: 100svh;

    @media (prefers-color-scheme: dark) {
        background-color: #000;
        color: #fff;
    }

    header {
        padding: 0.25rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        border-bottom: 1px solid #ccc;
        @media (prefers-color-scheme: dark) {
            border-color: #555;
        }

        @media screen and (max-device-width: 768px) {
            font-size: 1.25rem;
        }

        & > * {
            text-align: center;
        }

        & > *:last-child {
            text-align: right;
        }

        a {
            text-align: left;
            text-decoration: none;
            &:visited {
                color: inherit;
            }
        }

        .oea-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: none;
            cursor: pointer;
            border-radius: 10%;
            color: #000;
            &:disabled {
                opacity: 0.25;
            }

            &:not(:disabled):hover {
                filter: brightness(0) saturate(100%) invert(28%) sepia(91%) saturate(7473%) hue-rotate(173deg) brightness(96%) contrast(106%);
            }

            &:active {
                filter: invert(41%) sepia(90%) saturate(2696%) hue-rotate(357deg) brightness(100%) contrast(100%) !important;
            }

            @media (prefers-color-scheme: dark) {
                filter: invert(100%);
            }

            .icon{
                height: 0.75rem;
                width: 0.75rem;
                @media screen and (max-device-width: 768px) {
                    height: 1rem;
                    width: 1rem;
                    
                }
            }
            
        }
        .right-buttons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;
        }
        .current-quest{
            cursor: pointer;
            padding: .25rem;
            border-radius: .25rem;
            &:hover{
                background-color: #ccc;
            }
        }

        
    }

    .oea-quest-stats {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.75rem;
        height: 1.5rem;
        border-top: 1px solid #ccc;

        @media (prefers-color-scheme: dark) {
            border-color: #555;
        }

        @media screen and (max-device-width: 768px) {
            font-size: 1rem;
            padding: 1rem 0rem;
            border-top: 1px solid #ccc;
        }

        .oea-quest-stat {
            display: flex;
            .oea-quest-stat-value {
                margin-left: 1rem;
            }
        }
    }

    main {
        flex: 1;
        background-color: #000;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .ask-clue{
            position: absolute;
            right: 0.25rem;
            top: 0.25rem;
            background-color: transparent;
            border: none;
            width: 2rem;
            height: 2rem;
            cursor: pointer;

            &:active {
                filter: invert(41%) sepia(90%) saturate(2696%) hue-rotate(357deg) brightness(100%) contrast(100%) !important;
            }

            @media (max-device-width: 768px) {
                width: 3.5rem;
                height: 3.5rem;
            }

            img{
                filter: invert(100%);
                &:hover{
                    filter: invert(50%);
                }
            }
        }

        .oea-image-wrapper {
            position: relative;
            overflow: hidden;

            .oea-img {
                max-width: 100%;
                max-height: 100%;
                transform-origin: center;
                cursor: crosshair;
            }
        }

        .oea-end-stats {
            flex: 1;
            height: 100%;
            width: 100%;
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-content: center;
            padding-top: 3rem;

            .oea-end-stats-container{
                display: flex;
                justify-content: space-evenly;
                align-content: flex-start;
                font-size: 1.25rem;
                padding: 1rem;
                flex-wrap: wrap;
                gap: 1rem;

                .p-card{
                    border: 1px solid black;
                    flex: 1 1;
                    .p-card-title, .p-card-content{
                        text-align: center;
                    }
                }
            }

            .oea-end-buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                margin-top: 3rem;
                button{
                    flex: 1 1 100%;
                    font-size: 1.25rem;
                    padding: 1rem 2rem;
                    min-width: 15rem;
                }
            }
        }
    }

    .oea-button{
        border: 2px solid black;
        background-color: #fff;
        padding: 1rem 2rem;
        font-weight: bold;
        color: black;

        &:active {
            background-color: orange;
        }
    }
}

.quest-drawer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-y: auto;
    max-height: 70vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .quest-drawer-item{
        padding: 1rem 2rem;
        flex : 0 0;
    }

}